<table style="margin-left: 100px">
    <tr>
        <td><br><span>ulubione produkty</span></td>
    </tr>
    <tr>
        <td><br><span>paragony</span></td>
    </tr>
    <tr>
        <td><br><span>raporty</span></td>
    </tr>
    <tr>
        <td><br><span>dodawanie produktu</span></td>
    </tr>
</table>

{% block form %}
{% endblock %}

{% block list %}
{% endblock %}